{% extends 'Users/password_base.html' %}

{% block content %}
    <div class="center card">
        <form method="post" class="card" novalidate>
            {% csrf_token %}
            <div class="card-header">
                <h2 class="text-center">Log in to your account</h2>
            </div>
            <div class="card-body">
                {% for field in form %}
                    {{ field.label_tag }}
                    {{ field }}
                    {% if field.errors %}
                        <small>{{ field.errors|striptags }}</small>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="card-footer">
                <a type="submit" href="{% url 'login' %}" class="btn btn-outline-primary full-width">Login</a>
            </div>
        </form>
    </div>

{% endblock content %}